{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="https://source.unsplash.com/1200x400/?office" class="d-block w-100 mx-0" alt="...">
    <
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center">About Us</h1>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h5>
Flexncode was founded by XYZ and ABC with a vision of providing life-transforming learning experiences to anyone,
 anywhere. It is now a leading online learning platform for higher education, where 71 million learners from
 around the world come to learn skills of the future. More than 200 of the world’s top universities and 
industry educators partner with Coursera to offer courses, Specializations, certificates,
 and degree programs. Thousands of companies trust the company’s enterprise platform Flexncode for Business to transform their talent. 
Flexncode for Government equips government employees and citizens with in-demand skills to build a competitive workforce. Coursera for Campus empowers 
any university to offer high-quality, job-relevant online education to students, alumni, faculty, and staff. </h45>
  
  <h2>What we offer</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

    <form method="post" action="/contact">
</div>
 <style>element.style {
}
.h2,h2{
    margin-top: 5rem;
}

</style>
{% endblock body %}
